
    <div class="max-w-3xl p-8 " id="about">
        <!-- Profile Image -->
        <div class="mb-4">
            <img src="assets/avatar.png" alt="Profile Picture" class="w-24 h-24 object-cover rounded-full">
        </div>
        
        <!-- Heading -->
        <h1 class="text-4xl font-bold mb-8">
            Web development
        </h1>
        
        <!-- Bio -->
        <p class="text-gray-500 text-base mb-8">
            I’m Huy, a Software Engineer based in HCM, Vietnam. The main language I use is Java. I feel excited when building a website product that brings value.
        </p>
        
        <!-- Social Links -->
        <div class="flex space-x-6">
            <a href="https://x.com/ThanVanHuy25640" target="_blank" class="text-gray-500 hover:text-teal-500 transition-colors duration-300">
                <i class="fab fa-twitter text-2xl"></i>
            </a>
            <a href="https://github.com/Vanhuyne" target="_blank" class="text-gray-500 hover:text-teal-500 transition-colors duration-300">
                <i class="fab fa-github text-2xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/v%C4%83n-huy-0845161a1/" target="_blank" class="text-gray-500 hover:text-teal-500 transition-colors duration-300">
                <i class="fab fa-linkedin text-2xl"></i>
            </a>
        </div>
    </div>
