<nav class="fixed px-3  h-full flex flex-col items-start justify-between border-l border-r ">
  <!-- Top Section: Logo/Profile Image -->
  <div class="ps-2">
    <img src="assets/img-icons/x.jpg" alt="Logo" class="w-10 h-10">
  </div>

  <!-- Middle Section: Navigation Links -->
  <div class="flex flex-col items-start  text-base">
    <a [routerLink]="'/'" [ngClass]="{'active-link': isActive('/')}"
      class="text-gray-800 px-4 py-2 transition duration-300 cursor-pointer flex items-center  rounded-3xl  hover:bg-gray-300">
      <i class="fas fa-home text-xl mr-4"></i> Home
    </a>
    <a [routerLink]="'/skills'" [ngClass]="{'active-link': isActive('/skills')}" class="text-gray-800 px-4 py-2 transition duration-300 cursor-pointer flex items-center rounded-3xl   hover:bg-gray-300">
      <i class="fa-regular fa-lightbulb text-xl mr-5"></i> Skills
    </a>
    <a [routerLink]="'/projects'" [ngClass]="{'active-link': isActive('/projects')}"
      class="text-gray-800 px-4 py-2 transition duration-300 cursor-pointer flex items-center rounded-3xl   hover:bg-gray-300">
      <i class="fa-regular fa-file text-xl mr-5"></i> Projects
    </a>
    <a [routerLink]="'/explore'" [ngClass]="{'active-link': isActive('/explore')}" class="text-gray-800 px-4 py-2 transition duration-300 cursor-pointer flex items-center rounded-3xl   hover:bg-gray-300">
      <i class="fa-solid fa-magnifying-glass text-xl mr-5"></i> Explore
    </a>
    <a [routerLink]="'/notification'" [ngClass]="{'active-link': isActive('/notification')}"
      class="text-gray-800 px-4 py-2 transition duration-300 cursor-pointer flex items-center rounded-3xl   hover:bg-gray-300">
      <i class="fa-regular fa-bell text-xl mr-5"></i>Notification
    </a>
    <a [routerLink]="'/contact'" [ngClass]="{'active-link': isActive('/contact')}"
      class="text-gray-800 px-4 py-2 transition duration-300 cursor-pointer flex items-center rounded-3xl   hover:bg-gray-300">
      <i class="fas fa-envelope text-xl mr-5"></i> Message
    </a>

    <a [routerLink]="'/resume'" [ngClass]="{'active-link': isActive('/communities')}"
      class="text-gray-800 px-4 py-2 transition duration-300 cursor-pointer flex items-center rounded-3xl   hover:bg-gray-300">
      <i class="fa-solid fa-user-group text-xl mr-5"></i> Resume
    </a>
  </div>
  <div class=" py-2">
    <button 
      class=" text-base w-52 rounded-3xl py-3 px-6 text-white bg-black hover:bg-gray-500 text-center transition duration-300 cursor-pointer ">
      More
    </button>
  </div>
  <div class="ps-2 opacity-0">
    <img src="assets/img-icons/x.jpg" alt="Logo" class="w-10 h-10">
  </div>

  <!-- Bottom Section: profile  -->
  <!-- <div class="flex flex-col items-center space-y-2 pl-2 mb-2">
    <div class="flex items-center ">
      <img [src]="profileData?.profileImage || 'assets/avatar.png'" class="w-10 h-10 object-cover rounded-full mr-2" alt="Avatar" />
      <div class="flex flex-col items-start">
        <span class="text-gray-800 text-sm">{{ profileData?.name || 'Van Huy' }}</span>
        <span class="text-gray-400 text-sm">{{ profileData?.handle || 'ThanVanHuy25640' }}</span>
      </div>
      <div class="ml-4"><i class="fa-solid fa-ellipsis"></i></div>
    </div>
  </div> -->
</nav>
<!-- Bottom Section: Profile Details -->