<nav class="fixed top-0 left-0 right-0 w-full z-50">
  <!-- Profile Image -->
    <div class="container mx-auto flex justify-between items-center py-4 px-10 ">
    <div class="flex items-center space-x-4">
      <span class="text-xl">
        {{ getWeatherIcon() }}
      </span>
      <span class="text-gray-500 text-sm">
        {{ weatherData.main.temp | number:'1.0-1' }}°C
      </span>
    </div>
  
    <!-- Center Navigation Links -->
    <div class="flex items-center space-x-6 bg-gray-800 px-6 py-2 rounded-full">
      <a
        routerLink="/about"
        routerLinkActive="text-teal-500"
        class="text-white hover:text-teal-500 transition duration-300"
      >
        About
      </a>
      <a
        routerLink="/articles"
        routerLinkActive="text-teal-500"
        class="text-white hover:text-teal-500 transition duration-300"
      >
        Articles
      </a>
      <a
        routerLink="/projects"
        routerLinkActive="text-teal-500"
        class="text-white hover:text-teal-500 transition duration-300"
      >
        Projects
      </a>
      
    </div>
  
    <!-- Theme Toggle Icon -->
    <div class="flex items-center">
      <button
        class="p-2 px-4 bg-gray-800 rounded-full hover:bg-gray-700 transition duration-300"
        (click)="toggleTheme()"
      >
      <i class="fas" [ngClass]="isDarkMode ? 'fa-sun text-teal-500 ' : 'fa-moon text-white'"></i>

      </button>
    </div>
  </div>
  </nav>