<div class="px-8 pb-4 py-5 flex flex-col projects">
  <div class="flex items-center py-4">
    <hr class="flex-grow max-w-10 border-gray-500 mr-4 w-3">
    <span class="text-gray-500 text-sm">PROJECTS</span>
  </div>
  <!-- Project List -->
  <div class="flex-grow">
    <div class="flex flex-col gap-6" >
      <!-- Project Card -->
      <div *ngFor="let project of projects" class="border  border-gray-300 rounded-md p-2 
               transition duration-300 hover:border-gray-500  
               hover:cursor-pointer group relative w-full" (click)="openProject(project.githubLink)">
        <!-- Internal Flex for Card Content -->
        <div class="flex flex-col md:flex-row gap-6 h-full">
          <!-- Project Image/Placeholder -->
          <div class="">
            <div class="w-24 h-24 rounded-md p-2
                        flex items-center justify-center text-gray-400">
              <img class="w-full h-full object-cover border border-gray-200" src="{{ project.imageUrl }}" alt="">
            </div>
          </div>
          <!-- Project Details -->
          <div class="flex-grow flex flex-col">
            <!-- Project Title -->
            <h3 class="text-lg font-semibold text-gray-400 mb-2">
              {{ project.title }}
            </h3>
            <!-- Project Description -->
            <p class="text-gray-400 text-xs mb-2 flex-grow">
              {{ project.description }}
            </p>
            <!-- View Project Label -->
            <span class="absolute top-3 right-6 text-sm text-gray-400 
                     opacity-0 group-hover:opacity-100 
                     group-hover:text-teal-500 
                     transition-all duration-300">
              <i class="fas fa-arrow-right ml-2 rotate-[-45deg] inline-block"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>