<section class=" border-gray-600 border h-screen">
  <div class="px-10  py-5 ">
    <div class="flex items-center py-4">
      <hr class="flex-grow max-w-10 border-gray-500 mr-4 w-3">
      <span class="text-gray-500 text-sm">SKILLS</span>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
      <div *ngFor="let skill of skills" 
           class=" flex flex-col items-center justify-center gap-4 py-4 px-2  rounded-md border border-transparent hover:border-gray-500 transition-all duration-300">
        <img [src]="skill.icon" [alt]="skill.name" class="w-10 h-10 object-contain">
        <span class="text-gray-800 text-xs">{{ skill.name }}</span>
      </div>
    </div>
    <!-- <div class="opacity-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto similique culpa quos dolorum vero magni nam aliquid, saepe quia, dicta neque illo officiis facilis? Enim assumenda totam voluptate distinctio fugit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam est totam molestias atque, provident aut impedit accusamus pariatur architecto maiores placeat, sapiente eligendi quis minus nam quod autem.</div> -->
  </div>

</section>